body {
    font-family: 'Helvetica', 'Calibri', sans-serif;
    font-size: 16px;
    margin: 1rem 10rem;
    background-image: url(../bodybg.png);
    background-size: contain;
}

legend {
    width: inherit;
    border: none;
    font-size: 30px;
    background-color: skyblue;
    padding: 0.75rem;
    font-size: 2.0rem;
    color: rgb(140, 11, 11);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translateX(-1.1rem);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
}

label {
    margin: 5px;
}

div {
    padding-bottom: 19px;
}

fieldset {
    margin-top: 0.5rem;
    margin-bottom: 6.0rem;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    background-color: rgb(240, 240, 240);
    background-image: url(../pic20.png), linear-gradient(to bottom right, skyblue, white);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 30%, cover;
}

input[type=text], select {
    /* width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
  }
  
   input[type=submit],input[type=reset] {
    width: 30%;
    display:inline-block;
    background-color: #6b899f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  
  input[type=submit]:hover,input[type=reset]:hover  {
    background-color: #334249;
    color: antiquewhite;
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

  input[type=reset]
  {
    margin-left: 39%;
  }


  #Plant
  {
      margin-left: 22%;
  }
